@import "tailwindcss";

@theme {
  --color-primary: #ee9e2e;
  --color-primary-opacity: #edb76b;
  --color-secundary: #25262a;
  --color-terciary: #101213;
  --color-base: #fafafa;
  --breakpoint-xs: 30rem;
}
